<form action="/todos" method="post">
  <div class="form-group">
  <label for="name">Name</label>  
  <input type="text" name="name" id="name" placeholder="please type name">
  </div>
  <button type="submit">Enter</button>
  <a href="/">Back</a>
</form>

